<ion-header [translucent]="true"  >
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- 
order
header
body
footer
 -->
<ion-content [fullscreen]="true">
<ion-grid >
  <ion-row>
    <ion-col class="ion-text-start">
      <ion-toolbar>
        <p>9 : 45 Am</p>
      </ion-toolbar>
    </ion-col>
  

    <ion-col class="ion-text-end">
      <ion-toolbar >
          <ion-icon name="wifi-outline"auto-hide="false"></ion-icon>
          <ion-icon name="cellular-outline" style="margin-left: 15px;"></ion-icon>
          <ion-icon name="battery-dead-outline" style="margin-left: 15px;"></ion-icon>
      </ion-toolbar>      
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col >
    <ion-toolbar  >
      <ion-title >
        <p style="color: black;font-weight: 100;" >
          CODEGENIE
        </p>
      </ion-title>
      <ion-icon name="reorder-two-outline"></ion-icon>
    </ion-toolbar>
  </ion-col>

  <ion-col class="ion-text-end">
    <ion-toolbar>
      <ion-icon name="person-circle-outline" ></ion-icon>
    </ion-toolbar>
  </ion-col>
</ion-row>

<ion-row>
  <ion-card>
  <ion-card >
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" /> 
    <ion-card-header>
    </ion-card-header>
  </ion-card >   
  </ion-card>
</ion-row>
<ion-row>
  <ion-col>
    <ion-icon name="logo-stencil" style="color: rgb(247, 210, 6);"></ion-icon>
    <strong style="margin-left: 10px;">Services</strong>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="ion-text-center">
    <ion-icon name="logo-bitcoin"></ion-icon>
    <P>Bill Pay</P>
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-icon name="swap-horizontal-outline"></ion-icon>
    <p>Money</p>
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-icon name="logo-medium"></ion-icon>
    <p>Upi</p>
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-icon name="copy"></ion-icon>
    <p>DMT</p>
  </ion-col>

</ion-row>
<ion-row>
  <ion-col class="ion-text-center">
    <ion-icon name="finger-print"></ion-icon>
    <p>AEPS</p>
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-icon name="images"></ion-icon>
    <p>AdharPay</p>
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-icon name="airplane"></ion-icon>
    <p>Travel</p>
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-icon name="ellipsis-horizontal"></ion-icon>
    <p>View All</p>
  </ion-col>
</ion-row>

<ion-input label="Quearry Transaction" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>

<br />

<ion-input label="Raise Complaint" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
<br/>
<ion-input label="Complaint Status" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
<ion-row class= "">
<ion-col class="ion-align-self-center">
  <ion-icon name="star" ></ion-icon>
</ion-col>
<ion-col class="ion-align-self-center">
  <span>Offers And Rewards</span>  
</ion-col>
  <ion-col class="ion-align-self-center">
    <ion-input label="View All" label-placement="floating" fill="outline" placeholder="Enter text" aria-disabled="false" class="ion-justify-content-center"></ion-input>
  </ion-col>
</ion-row>
<ion-row>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"/> 
    <ion-card-header>
    </ion-card-header>
  </ion-card >
</ion-row>
</ion-grid>
  <!-- <div id="container"> 
     
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
<ion-footer collapse="fade" >
  <ion-row>

    <ion-col>
      <ion-toolbar class="ion-text-center">
        <ion-icon name="home"></ion-icon>
         <p>Home</p>
      </ion-toolbar>
    </ion-col>
    <ion-col>
      <ion-toolbar class="ion-text-center">
        <ion-icon name="qr-code" style="text-align: center;width: 50px;height: 50px;"></ion-icon>         
        <p></p>
      </ion-toolbar>
    </ion-col>
    <ion-col>
      <ion-toolbar class="ion-text-center">
        <ion-icon name="newspaper"></ion-icon>         <p>Transaction</p>
      </ion-toolbar>
    </ion-col>
  </ion-row>
</ion-footer>




